@model JDMovies.Models.MoviesViewModel

@{
    ViewBag.Title = "Dodaj nowy film";
}

<h2>Dodaj nowy film</h2><hr />

@using (Html.BeginForm())
{
    <div class="input-field col s7">
        @Html.Label("Tytuł")

        @Html.TextBoxFor(model => model.Film.Tytul)
    </div>
    <div class="col s7">
        <label>
            Data premiery
            <input type="date" />
        </label>
    </div>
    <div class="input-field col s7">
        @Html.Label("Nośnik")

        @Html.TextBoxFor(model => model.Film.Nosnik)
    </div>
    <div class="input-field col s7">
        @Html.Label("Czas trwania")

        @Html.TextBoxFor(model => model.Film.Czas_trwania)
    </div>
    <div class="input-field col s7">
        @Html.Label("Ograniczenie wiekowe")

        @Html.TextBoxFor(model => model.Film.Ogr_wiekowe)
    </div>
    <div class="input-field col s8" >
        @Html.Label("Okładka")
        <input type="file" style="margin-bottom: 20px; margin-top: 50px" />
    </div>

    
   
    
        <div class="row">
            <div class="input-field col s10" style="margin-bottom: 60px">
                @Html.Label("Gatunek")
            </div>
            <div class="col l5">
                @foreach (var g in Model.Genres)
                {
                    <div class="col l4">

                        <label>
                            <input type="checkbox" class="filled-in" name="gatunek" value=@g.Nazwa />
                            <span>@g.Nazwa</span>
                        </label>

                    </div>
                }
            </div>
       </div>



    <div class="col l12">
        <button class="col btn waves-effect waves-light " type="submit" style="margin-top:40px"><i class="material-icons left">send</i>Dodaj</button>

        <button class="col offset-l9 waves-light btn-flat" style="margin-top: 40px">
            @Html.ActionLink("Powrót", "Index")
            <i class="material-icons left">replay</i>
        </button>

    </div>

}





