@model JDMovies.Models.MoviesEditViewModel

@{
    ViewBag.Title = "Edytuj film";
}

<h2>Edytuj film:  @Model.Film.Tytul</h2><hr />


@using (Html.BeginForm("Edit", "Movies", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="row">
        <div class="col l5">
            <div class="input-field col s7" style="margin-top:40px">
                @Html.Label("Tytuł")

                <input type="text" name="Tytul" id="Tytuł" value="@Model.Film.Tytul" />
            </div>
            <div class="col s7">
                @Html.Label("Data premiery")                
                
                    <input type="date" value="@Model.Film.Data_premiery.ToString("yyyy-MM-dd")" name="Data_premiery" />
                
            </div>
            <div class="input-field col s7"  style="margin-top:-10px">
                @Html.Label("Nośnik")

                <div style="margin-top: 50px">

                    @Html.DropDownList("Nosnik", new SelectList(Model.GetNosniks.Items, "Value", "Text", Model.Film.Nosnik), new { @class = "browser-default" })
                    
                </div>
            </div>
            <div class="input-field col s7">
                @Html.Label("Czas trwania")

                <input type="text" name="Czas_trwania" id="Czas trwania" value="@Model.Film.Czas_trwania" />

            </div>
            <div class="input-field col s7" style="margin-top:-10px" >                
                    @Html.Label("Ograniczenie wiekowe")
                <div style="margin-top: 50px">

                    @Html.DropDownList("Ogr_wiekowe", new SelectList(Model.GetAgeLim.Items, "Value", "Text", Model.Film.Ogr_wiekowe), new { @class = "browser-default" })

                </div>
                </div>

            </div>
        
        <div class="col">
            <div class="input-field col m10">
                @Html.Label("Okładka")
                @{
                    var base64 = Convert.ToBase64String(Model.Film.Zdjecie);
                    var imgsrc = string.Format("data:image/jpg;base64,{0}", base64);
                }
                <div class="row">
                    <div class="covers">
                        <img src='@imgsrc' style="margin-top:40px" name="Zdjecie" />
                    </div>
                    <input type="file" style="margin-bottom: 20px; margin-top: 50px" name="cover"/>
                </div>
            </div>
        </div>
    <div class="row">
        <div class="input-field col s10" style="margin-bottom: 60px">
            @Html.Label("Gatunek")
        </div>
        <div class="col l5">
            @foreach (var g in Model.Genres)
            {
                <div class="col l4">
                    <label>
                        @if (Model.Film.Gatuneks.Contains(g))
                        {
                            <input type="checkbox" class="filled-in" name="gatunek" value="@g.Nazwa" checked="checked" />
                        }
                        else
                        {
                            <input type="checkbox" class="filled-in" name="gatunek" value="@g.Nazwa" />
                        }

                        <span>@g.Nazwa</span>
                    </label>

                </div>
            }
        </div>

    </div>






    <div class="col l12">
        <button class="col btn waves-effect waves-light " type="submit" style="margin-top:40px" value="Edit"><i class="material-icons left">create</i>Zapisz</button>

       <a href="/Movies/Index" class="col offset-l9 waves-light btn-flat" style="margin-top: 40px">
            Powrót
            <i class="material-icons left">replay</i>
        </a>

    </div>
 </div>
}

