@model JDMovies.Models.MoviesIndexViewModel

@{
    ViewBag.Title = "Pełna oferta";
}

<div class="loaders" id="loader">
    <div class="preloader-wrapper big active">
        <div class="spinner-layer spinner-green-only">
            <div class="circle-clipper left">
                <div class="circle"></div>
            </div><div class="gap-patch">
                <div class="circle"></div>
            </div><div class="circle-clipper right">
                <div class="circle"></div>
            </div>
        </div>
    </div>
</div>





<div class="responsive-table">
    <div class="col pull-l2" style="margin-top:60px">


        <form asp-action="Index">
            Nośnik
            @foreach (var n in Model.GetNosniks)
            {
                <p>
                    <label>
                        <input type="checkbox" name="nosnik" value="@n" />
                        <span>@n</span>
                    </label>
                </p>
            }

            <br />
            Ograniczenia wiekowe
            @foreach (var a in Model.GetAgeLim)
            {
                <p>
                    <label>
                        <input type="checkbox" name="ogr_wiek" value="@a" />
                        <span>@a</span>
                    </label>
                </p>

            }

            <br />
            Gatunek <br />

            @foreach (var g in Model.Genres)
            {
                <p>
                    <label>
                        <input type="checkbox" name="gatunek" value="@g.Nazwa" />
                        <span>@g.Nazwa</span>
                    </label>
                </p>
            }
            <button class="btn waves-effect waves-light" type="submit">
                Filtruj
                <i class="material-icons right">filter_list</i>
            </button>

        </form>
    </div>
</div>

<div class="col l10">
    <h2>FILMY</h2><hr />

    <div class="input-field col l7">
        <form method="GET">
            <input class="col l10" type="text" name="search" placeholder="Jaki tytuł Cię interesuje?"  id="szukajInput"/>
            <button class="waves-effect waves-light btn-floating" type="submit" id="szukaj"><i class="material-icons left">search</i></button>
        </form>
    </div>


    <div class="input-field col l4 push-l1">
        <select class="browser-default" id="sort">
            <option value="" disabled selected>Sortuj według</option>
            <option value="A-Z">Tytuł od A do Z</option>
            <option value="Z-A">Tytuł od Z do A</option>
            <option value="Prem_1st">Data premiery od najnowszego</option>
            <option value="Prems_last">Data premiery od najstarszego</option>
        </select>
    </div>




    <div id="tbl">
        <table class="embed-responsive">

            @if (Model.Movies.Count() == 0)
            {
                <tr>
                    <td>
                        <h4>Nie znaleziono wyników</h4>
                    </td>
                </tr>

            }


            @foreach (var item in Model.Movies)
            {
                <tr>

                    @{
                        if (item.Zdjecie != null)
                        {
                            <td>
                                @{
                                    var base64 = Convert.ToBase64String(item.Zdjecie);
                                    var imgsrc = string.Format("data:image/jpeg;base64,{0}", base64);
                                }
                                <div class="covers">
                                    <img src='@imgsrc' />
                                </div>
                            </td>
                        }
                    }

                    <td>
                        <p style="font-size: 40px;font-weight:bold">
                            @Html.DisplayFor(modelItem => item.Tytul)
                        </p>
                        <p>
                            @Html.DisplayName("Data premiery: ")
                            @Html.DisplayFor(modelItem => item.Data_premiery)<br />
                        </p>
                        <p>
                            @Html.DisplayName("Nośnik: ")
                            @Html.DisplayFor(modelItem => item.Nosnik)
                        </p>
                        <p>
                            @Html.DisplayName("Czas trwania: ")
                            @Html.DisplayFor(modelItem => item.Czas_trwania)
                            @Html.DisplayName("min")
                        </p>

                        @{
                            var st = "";
                            if (item.Ogr_wiekowe.Equals("3+"))
                            {
                                st = "font-size:30px;color:green";
                            }
                            else if (item.Ogr_wiekowe.Equals("12+"))
                            {
                                st = "font-size:30px;color:yellow";
                            }
                            else if (item.Ogr_wiekowe.Equals("16+"))
                            {
                                st = "font-size:30px;color:orange";
                            }
                            else
                            {
                                st = "font-size:30px;color:red";
                            }


                        }

                        <p style="@st">
                            @Html.DisplayFor(modelItem => item.Ogr_wiekowe)
                        </p>

                        <p>
                            @Html.ActionLink("Edytuj", "Edit", new { id = item.ID_filmu }) |
                            @Html.ActionLink("Usuń", "Delete", new { id = item.ID_filmu })
                        </p>
                    </td>
                </tr>
            }



        </table>
    </div>
</div>

<script>


    $("#loader").hide();


    $("select")
        .change(function () {
            var str = "";
            $("select option:selected").each(function () {
                str += $(this).text() + " ";
                var com = str.localeCompare("Sortuj według ");

                if (com == 0) {
                    $("#loader").hide();
                } else {
                    $("#loader").show();
                }                 
                
            });
            $.ajax({               
                url: '/Movies/ListOfMovies',
                type: 'POST',
                data: { str },
                success: function (data) {                    
                    $("#tbl").html(data);
                    $("#loader").hide();
                }

            })
            //alert(str);
        })
        .trigger("change");




    $("button").click(function () {
        $("#loader").show();

    });


</script>


